body {
	background-color: #eee;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

img {
	max-width: 100%;
}

div {
	max-width: 900px;
	margin: auto;
	background-color: #fff;
	padding: 40px;
	box-sizing: border-box;
}

h1 {
	color: #ff1e1e;
	margin-top: 0;
}

a { padding: 10px;
	color: black;
	transition: 0.3s background-color , 0.5s color;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 20px;
}

@media (pointer:fine){
	a:hover {
		background-color: black;
		color: white;
	}
}

@media (max-width: 480px){
	body {
		font-size: 16px;
	}

	div {
		padding: 40px 10px;
		width: 98%;
	}
}